{% extends 'base.html' %}

{% block title %}
    And as it is such, so it is such, onto you. PETS
{% endblock %}

{% block content %}
    <h1>Pets</h1>

    {% for pet in pets %}

    <div class="container">
        <a href="/{{pet.id}}"><img src="{{ pet.photo_url }}"></a>

        {% if pet.available %}
        {{ pet.name }} is <b>available</b>!
            {% else %}
        {{ pet.name }} was adopted :)
        {% endif %}
    {% endfor %}
    <form action="/add">
        <button class="btn btn-success" type="submit">Add a Pet</button>
    </form>

    </div>
{% endblock %}
